*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
main{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}
main *{
    background-color: grey;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header, footer{
    height: 60px;
}
nav, section, aside{
    height: 300px;
}
section{
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-direction: column;
}
section *{
    background-color: lightgray;
    flex-grow: 1;
}
@media(min-width:768px){
    main>header, main>footer{
        height: 100px;
    }
    nav, section, aside{
        height: calc(100vh - 240px);
    }
    nav, aside{
        width: 25%;
    }
    section{
        width: 50%;
        width: calc(50% - 20px);
    }
    section>header, section>footer{
        flex-grow: 1;
    }
    section>article{
        flex-grow: 20;
    }
}
