*{box-sizing: border-box;}
html, body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 235, 235);
    height: 100svh;
    padding: 10px;
}
main{
    background-color: lightgrey;
    height: 100%;
    display: grid;
    grid-template-rows: 40% auto;
}
main>section:nth-child(1){
    padding: 20px 40px;
    background-color: #0f002d;
    display: flex;
    flex-direction: column;
}
main>section:nth-child(1)>.logo{
    max-height: 40%;
    flex-grow: 5;
    text-align: center;
}
main>section:nth-child(1) img{
    max-height: 100%;
}



main>section:nth-of-type(1)>h2{
    color: white;
    font-size: 1.5rem;
    flex-grow: 0.5;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>section:nth-child(1)>button{
    padding: 12px;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    margin-bottom: 10px;
}










main>section:nth-child(2){
    background-color: white;
    padding: 30px 60px;
    display: grid;
    grid-template-rows: 15% 85%;
}
main>section:nth-of-type(2)>h2{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
#contenedor{
    display: grid;
    height: 100%;
}
#contenedor form{
    display: grid;
    grid-template-rows: repeat(5, 20%);
    height: 100%;
}
main>section:nth-child(2) label{
    display: block;
}
main>section:nth-child(2) input{
    border: none;
    border-bottom: 3px solid black;
    width: 100%;
}
main>section:nth-child(2) button{
    padding: 20px;
    background-color: #0f002d;
    border: none;
    color: white;
    width: 100%;
}



.linea{
    width: 100%;
    display: flex;
    gap: 20px;
}
.linea:last-child{
    padding-top: 1.5rem;
}
.linea.block{display: block;}
.mitad{
    width: 50%;
}
.negrita{font-weight: bold;}
.texto-derecha{text-align: right;}

@media(min-width:768px){
    body{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        max-width: 600px;
        max-height: 400px;
        overflow: hidden;
    }
    main>section:nth-child(1)>.logo {
        max-height: 20%;
        flex-grow: 1;
    }
    main>section:nth-of-type(1)>h2 {
        flex-grow: 0;
    }
    main>section:nth-child(2) {
        background-color: white;
        padding: 15px 20px;
        grid-template-rows: 40px auto;
    }
    #contenedor{
        display: block;
    }
    #contenedor, #contenedor form{
        height: auto;
    }
}