*{
    box-sizing: border-box;
}
html,body{
    height: 100vh;
}
main{
    display: flex;
    height: 100%;
}
main>div{
    background-color: bisque;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:480px){
    /* main>div{
        flex-grow: 1; 
    }  */
}