html, body{
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.ficha{
    position: relative;
    overflow: hidden;
    grid-template-rows: 55% auto 15% 15%;
    display: grid;
    height: 400px;
}
.ficha>p, .ficha>h2{
    padding: 0 10px;
}
.ficha>h2{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.ficha>.img-container{
    overflow: hidden;
}
.ficha .imagen{
    max-width: 100%;
}

.ficha .btn-editar{
    background-color: rgb(244, 141, 141);
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 45px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.ficha .btn-editar:hover{
    background-color: rgb(249, 0, 0);
}
.oculto{
    display: none;
}
.formulario-editar-proyecto{
    padding: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
}
.formulario-editar-proyecto .boton-cerrar{
    position: absolute;
    width: 45px;
    height: 45px;
    right: 40px;
    top: 6px;
    cursor: pointer;
}